@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import '~react-toastify/scss/main';

#root {
    width: 100vw;
    height: 100vh;
}
.main-header .navbar-nav .nav-item .nav-link {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.navbar-nav > .user-menu .user-image {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0;
    margin-left: -8px;
    
}
.container-fluid1{
    margin-left: 25ch;
}
.bnr{
    width: 100%;
	display: inline-block;
    text-align: center;
    margin: 20px;
}
.participents .nav-item1:hover{
    background-color: rgb(87, 88, 88);
    border-radius: 10px;
}
.participents .nav-item1:active{
    background-color: rgb(5, 71, 168);
}
.participents .nav-item2:hover{
    background-color: rgb(87, 88, 88);
    border-radius: 10px;
}
.participents .nav-item2:active{
    background-color: rgb(5, 71, 168);
}
.footer{
    text-align: center;
}
.table {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 3em;
}
.cdac-logo{
    margin-left: 0ch;
}
.table_1{
    overflow-y:auto;
}
.mapid { height: 120px; }